.page-header {
  display: flex;
  align-items: flex-start;

  margin: 0 auto;
  height: 680px;
}

.social-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 155px;
}
.social-sidebar__logo {
  margin-top: 50px;
  width: 80px;
}
.social-sidebar__section {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.social-sidebar__link {
  color: var(--title-color);
  display: block;
  height: 100px;
  line-height: 100px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;

  text-transform: capitalize;
  transform: rotate(-90deg);
}
.social-sidebar__link:hover {
  color: var(--main-color);
}
.social-sidebar .rectangle {
  display: block;
  height: 60px;
  width: 2px;
  background-color: var(--title-color);
}

.hero-section {
  position: relative;
  background-color: var(--dark-bg-1);
  height: 100%;
  padding: 50px;
  width: calc(100% - 155px);
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 50px;
  z-index: 10;
}
.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.navbar__item {
  color: var(--white);
  font-size: 16px;
  text-transform: capitalize;
  transition: color 0.2s ease;
}
.navbar__link {
  color: var(--white);
  font-size: 16px;
  text-transform: capitalize;
  transition: color 0.2s ease;
}
.navbar__link:hover {
  color: var(--main-color);
}
.navbar__booking {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: 16px;
  gap: 20px;
}

.article-text {
  position: relative;
  margin-left: 80px;
  margin-top: 150px;
  width: 50%;
  z-index: 10;
}

.article__label {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 14px;
  letter-spacing: 2px;

  margin-bottom: 20px;
  opacity: 0.6;
}
.article__label::before {
  background-color: var(--text-color-2-60);
  content: "";
  width: 80px;
  height: 1.5px;
  display: block;
}
.article__label-hero {
  color: var(--text-color-2-60);
}

.article__title {
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;

  margin-bottom: 20px;
  position: relative;
  z-index: 5;
}
.article__title-hero {
  color: var(--white);
  font-size: 75px;
  font-weight: 700;
}

.article__info {
  font-size: 16px;
  font-weight: 300;
}
.article__info-hero {
  color: var(--text-color-2);
}
.slider {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slider .slider__img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  transform: translateX(-50%) translateY(-50%);
}
.hero-section > .overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
